div(style="top:0;right:0;position:absolute;padding:3px;")
    button(class="btn btn-success",ng-click="logout()") Logout
div Hey There {{username}} , whats going on today? Here are some matches that we found for you.
