div(class="modal-box enter" id="loginCtrl")
    div(class="modal-dialog")
        div(class="modal-content")
            div(class="modal-header")
                button(type="button", class="close", data-dismiss="modal",ui-sref="guest") &times;
                h4(class="modal-title") Login
            div(class="modal-body")
                div(class="form-group")
                    label(class="label label-default") User Name
                    input(type="text",class="form-control")
                    label(class="label label-default") Password
                    input(type="password",class="form-control")
                    div(class="row") &nbsp;
                    button(class="btn btn-success") Login
                div
                    label(class="label label-primary") You can also use following options to get into action
                    div
                        ul(style="list-style:none;display:flex;flex-direction:row;margin:3px;padding:3px;" class="pull-left")
                            li #[a(href="#",ng-click="thirdparty('twitter')") #[i(class="fa fa-2x fa-twitter")]]
                            li #[a(href="#",ng-click="thirdparty('twitter')") #[i(class="fa fa-2x fa-facebook-official")]]
            div(class="modal-footer")
                button(type="button", class="btn btn-default", data-dismiss="modal",ui-sref="guest") Close
div(style="opacity:0.5;position:absolute;top:50%;left:50%",ng-if="loggingin",class="pulse")
    i(class="fa fa-2x fa-heartbeat",style="color:red") Please wait