div(class="modal-box")
      div(class="modal-dialog",ng-controller="registerCtrl")
        form(name="registerForm")
          div(class="modal-content")
            div(class="modal-header")
              button(type="button", class="close", data-dismiss="modal",ui-sref='guest') &times;
              h4(class="modal-title") Register
            div(class="modal-body")
              div(class="form-group")
                label(class="label label-default") Name
                input(type="text",class="form-control",ng-model="user.name",required,name="name") 
                label(class="label label-default") User Name
                input(type="text",class="form-control",ng-model="user.userName",required,minlength="5",maxlength="15",pattern="[A-Za-z0-9]+",title="User name without spaces & special characters.")
                div
                  label(class="label label-default") Gender
                  select(ng-model="user.gender",class="form-control",required)
                    option(value="Male") Male
                    option(value="Female") Female
                div
                  label(class="label label-default") Date of Birth
                  div(class="form-inline")
                    input(type="text",class="form-control",placeholder="dd",style="width:50px",ng-model="user.dobDD",required,maxlength="2",minlength="2")
                    input(type="text",class="form-control",placeholder="mm",style="width:50px",ng-model="user.dobMM",required,maxlength="2",minlength="2")
                    input(type="text",class="form-control",placeholder="yyyy",style="width:100px",ng-model="user.dobYY",required,maxlength="4",minlength="4")
                div
                  label(class="label label-default") City
                  input(type="text",class="form-control",placeholder="e.g. Nashville",ng-class="",ng-model="user.city",ng-keyup="searchCity($event)",required)
                  div(style="position:relative;",ng-show="places.length > 0")
                    ul(class="list-group",style="position:absolute;z-index:9999;")
                      li(ng-repeat="p in places",class="list-group-item",ng-keydown="navigate($event)",ng-focus="focused($event);")
                        a(href="#",ng-click="selectPlace(p.description)") {{p.description}}
                div
                  label(class="label label-default") E-mail Address
                  input(type="text",class="form-control",placeholder="e.g. someemail@someserver.com",ng-model="user.email",required,pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$")
                div
                  label(class="label label-default") Looking for
                  select(ng-model="user.interest",class="form-control",required)
                    option(value="Male") Woman
                    option(value="Female") Men
                    option(value="Both") Both                
                div
                  label(class="label label-default") Password
                  input(type="password",class="form-control",ng-model="user.password",name="password",id="password",required)
                  ul(id="strength", check-strength="user.password")
                div(ng-show="(user.password && user.confirmPassword) &&  user.password !== user.confirmPassword")
                  span #[i(class="fa fa-meh-o") #[i(class="fa fa-long-arrow-up") Not Matching]]
                label(class="label label-default") Confirm Password
                input(type="password",class="form-control",ng-model="user.confirmPassword",required)
                div(class="row") &nbsp;
                button(class="btn btn-success",ng-click="register()") Register
            div(class="modal-footer")
              button(type="button", class="btn btn-default", data-dismiss="modal",ui-sref='guest') Close