doctype html
html
  head
    base(href="/social")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='javascripts/vendor/bootstrap/dist/css/bootstrap.css')
  body(ng-app='app' class="container-fluid")
    div= twitter
    nav(class="navbar navbar-default", ng-controller="menuCtrl")
      div(class="container-fluid")
        div(class="navbar-header")
          button(type="button",class="navbar-toggle collapsed",data-toggle="collapse", data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
            span(class="sr-only") Toggle Navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand", href="#")= title
        div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
          ul(class="nav navbar-nav")
            li(class="active") #[a(href="#") Login #[span(class="sr-only") (current)]]
            li #[a(href="#") Register]
    block content
    include scripts
    label= screenName