script(src="javascripts/vendor/jquery/dist/jquery.js")
script(src="javascripts/vendor/bootstrap/dist/js/bootstrap.js")
script(src="javascripts/vendor/angular/angular.js")
script(src="javascripts/vendor/angular-resource/angular-resource.js")
script(src="javascripts/vendor/angular-route/angular-route.js")
script(src="javascripts/app/app.module.js")
script(src="javascripts/app/app.config.js")
script(src="javascripts/app/services/data.service.js")
script(src="javascripts/app/controllers/login.controller.js")